<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Addsubject</servlet-name>
  	<display-name>Addsubject</display-name>
  	<description></description>
  	<servlet-class>com.phase.servlet.Addsubject</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeletServletSubject</servlet-name>
  	<display-name>DeletServletSubject</display-name>
  	<description></description>
  	<servlet-class>com.phase.servlet.DeletServletSubject</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SubjectUpdateServlet</servlet-name>
  	<display-name>SubjectUpdateServlet</display-name>
  	<description></description>
  	<servlet-class>com.phase.servlet.SubjectUpdateServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Addstudentt</servlet-name>
  	<display-name>Addstudentt</display-name>
  	<description></description>
  	<servlet-class>com.phase.servlet.Addstudentt</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeletServletStudent</servlet-name>
  	<display-name>DeletServletStudent</display-name>
  	<description></description>
  	<servlet-class>com.phase.servlet.DeletServletStudent</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentUpdateServlets</servlet-name>
  	<display-name>StudentUpdateServlets</display-name>
  	<description></description>
  	<servlet-class>com.phase.servlet.StudentUpdateServlets</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentUpdateServlet</servlet-name>
  	<display-name>StudentUpdateServlet</display-name>
  	<description></description>
  	<servlet-class>com.phase.servlet.StudentUpdateServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddTeacher</servlet-name>
  	<display-name>AddTeacher</display-name>
  	<description></description>
  	<servlet-class>com.phase.servlet.AddTeacher</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteteacherServlet</servlet-name>
  	<display-name>DeleteteacherServlet</display-name>
  	<description></description>
  	<servlet-class>com.phase.servlet.DeleteteacherServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TeacherUpdateServlet</servlet-name>
  	<display-name>TeacherUpdateServlet</display-name>
  	<description></description>
  	<servlet-class>com.phase.servlet.TeacherUpdateServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddClass</servlet-name>
  	<display-name>AddClass</display-name>
  	<description></description>
  	<servlet-class>com.phase.servlet.AddClass</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeletServletClass</servlet-name>
  	<display-name>DeletServletClass</display-name>
  	<description></description>
  	<servlet-class>com.phase.servlet.DeletServletClass</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ClassUpdateServlet</servlet-name>
  	<display-name>ClassUpdateServlet</display-name>
  	<description></description>
  	<servlet-class>com.phase.servlet.ClassUpdateServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLoginServlet</servlet-name>
  	<display-name>AdminLoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.phase.servlet.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>com.phase.servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Addsubject</servlet-name>
  	<url-pattern>/Addsubject</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeletServletSubject</servlet-name>
  	<url-pattern>/DeletServletSubject</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SubjectUpdateServlet</servlet-name>
  	<url-pattern>/SubjectUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Addstudentt</servlet-name>
  	<url-pattern>/Addstudentt</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeletServletStudent</servlet-name>
  	<url-pattern>/DeletServletStudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentUpdateServlets</servlet-name>
  	<url-pattern>/StudentUpdateServlets</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentUpdateServlet</servlet-name>
  	<url-pattern>/StudentUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddTeacher</servlet-name>
  	<url-pattern>/AddTeacher</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteteacherServlet</servlet-name>
  	<url-pattern>/DeleteteacherServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TeacherUpdateServlet</servlet-name>
  	<url-pattern>/TeacherUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddClass</servlet-name>
  	<url-pattern>/AddClass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeletServletClass</servlet-name>
  	<url-pattern>/DeletServletClass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ClassUpdateServlet</servlet-name>
  	<url-pattern>/ClassUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLoginServlet</servlet-name>
  	<url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
</web-app>
